<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body class="createSolutionBody">
        <h1>
            Create Solution
        </h1>
        <form method="POST" action="/createSolution">
            <p>Title</p>
            <input type="text" name="title">
            <p>Solution</p>
            <input type="text" name="solution"><br>
            <input type="submit" value="Post Solution">
        </form>
    </body>
</html>