<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body class="createSolutionBody">
        <h1>
            Create Solution
        </h1>
        <form method="POST" action="/createSolution">
            <p>Title</p>
            <input type="text" name="title">
            <div id="category"></div>
            <p>Solution Description</p>
            <textarea name="solution" id="" cols="30" rows="10">
            </textarea>
            <br>
            <div class="submitBtnSolutionPage">
            <input type="submit" value="Post Solution">
            </div>
        </form>
    </body>
</html>