<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body id="landingPageBody">
        <h1>
            Welcome {{username}}
        </h1>
        <div class="landingPageBtns">
            <button><img src="../home.png" width="50px" height="50px"></button>
            <form method="POST" action="/landingPage">
                <input type="hidden" name="btn_id" value="list_of_problems">
                <input id="btn1" class="submitBtn" type="submit" value="Find Solution">
            </form>
            <form method="POST" action="/landingPage">
                <input type="hidden" name="btn_id" value="create_solution">
                <input id="btn2" class="submitBtn" type="submit" value="Create Solution">
            </form>
            <form method="POST" action="/landingPage">
                <input type="hidden" name="btn_id" value="edit_solution">
                <input id="btn3" class="submitBtn" type="submit" value="Edit Solution">
            </form>
        </div>
    </body>
</html>