<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <script>
          // Declare variables
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementById("tr");
        
          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        </script>
    <body class="problemListBody">
        <h1>
            Problem List
        </h1>
        <input id="myInput" type="search">
        <table id="myTable" class="table">
            <thead>
                <tr>
                    <th>Author</th>
                    <th>Problem</th>
                    <th>Step-By-Step Solution</th>
                </tr>
            </thead>
            <tbody>
                {%for i in range(0,len_problems)%}
            <tr>
                <td>{{problems[i].author}}</td> <td>Problem {{problems[i].title}}</td> <td>Solution {{problems[i].solution}}</td>
            </tr>
                {%endfor%}
            </tbody>
        </table>
            <!-- {%for i in range(0,len_problems)%}
            <li>
                {{problems[i].author}} : Problem {{problems[i].title}} : Solution {{problems[i].solution}}
            </li>
            {%endfor%}
        </o1> -->
    </body>
    <div id="footer">
        <form method="POST" action="/problemList">
            <input type="submit" value="Back to Landing Page">
        </form>
    </div>
</html>