<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body class="problemListBody">
        <h1>
            Problem List
        </h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Author</th>
                    <th>Problem</th>
                    <th>Step-By-Step Solution</th>
                </tr>
            </thead>
            <tbody>
                {%for i in range(0,len_problems)%}
            <tr>
                <td>{{problems[i].author}}</td> <td>Problem {{problems[i].title}}</td> <td>Solution {{problems[i].solution}}</td>
            </tr>
                {%endfor%}
            </tbody>
        </table>
            <!-- {%for i in range(0,len_problems)%}
            <li>
                {{problems[i].author}} : Problem {{problems[i].title}} : Solution {{problems[i].solution}}
            </li>
            {%endfor%}
        </o1> -->
    </body>
    <div id="footer">
        <form method="POST" action="/problemList">
            <input type="submit" value="Back to Landing Page">
        </form>
    </div>
</html>